/*
    You can add your own custom styles here.
*/
.site-description {
  display: inline-block;
  font-family: monospace;
  white-space: pre; /* чтобы пробелы сохранялись */
  min-width: 40ch; /* можно подогнать по максимальной длине */
  text-align: left;
}